{% extends 'women/base.html' %}

{% block content %}
<h1>{{title}}</h1>
<br>

<p>Здравствуй, дорогой читатель!</p>
<p>Данный веб-сайт является исключительно <b>тестовым проектом</b>, написанным по мотивам курса по django от Сергея Балакирева,
    чтобы начинающий разработчик (в лице меня) попробовал и применил свои силы на практике.</p>
<p>В связи с тем, что данный проект не является коммерческим, он не идеален и содержит некоторое число изъянов, в силу
    небольшого недостатка опыта у разработчика.</p>
<p>Данный веб-сайт демонстрирует (хоть и не в полной мере, но всё же) различный функционал. Например: работу с формами,
    связанными с БД; механизмы авторизации и регистрации пользователей; постраничную навигацию и др. Также, в данном
    проекте реализована тонкая настройка админ-панели. Реляционная база данных для этого веб-сайта включает в себя все
    типы связей (1 to 1, 1 to many, many to many). Также, хочется отметить, что при разработке были использованы
    различные сторонние инструменты и библиотеки, такие как debug toolbar, captcha и django extensions. В проекте также
    использовались, как функции, так и классы представлений; были написаны различные пользовательские теги, реализованы
    разнообразные шаблоны.</p>
<p>В заключении, хотелось бы ещё раз уточнить, что проект является <b>учебным</b> и далёк от совершенства, но все мы с
    чего-то
    начинали, поэтому в дальнейшем обещаю улучшить качество своих проектов и реализуемого в них функционала. Спасибо за
    внимание, дорогой читатель!</p>
{% endblock %}
